body{
	font-family: 'Roboto', sans-serif;
	color: #000;
}

body{
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

}

body {
  max-width: 1920px;
  max-height: 1136px;

}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}
#container h1{
	text-align:center;
	color: #ff0000;
	font-family:Comic Sans MS;
	animation:rot 1s linear 0s infinite;
}
@keyframes rot{
	0%{-webkit-filter:hue-rotate(0deg);filter:hue-rotate(0deg);}
	100%{-webkit-filter:hue-rotate(360deg);filter:hue-rotate(360deg);}
}
#quoteContainer{
	width:75%;
	background: #fff;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:70px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
	animation:rot 1s linear 0s infinite;
}
@keyframes rot{
	0%{-webkit-filter:hue-rotate(0deg);filter:hue-rotate(0deg);}
	100%{-webkit-filter:hue-rotate(360deg);filter:hue-rotate(360deg);}
}

#quoteButton:hover{
	cursor:pointer;
	background:#09c;
	color: rbg(117,111,158);	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}


#buttonContainer2{
	width: 100%;
	text-align: center;
}
#quoteButton2{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton2:hover{
	cursor:pointer;
	background:#09c;
	color: rbg(117,111,158);	
}
#quoteButton2:active{
	cursor: pointer;
}
#quoteButton2{
	display: inline-block;
}
#quoteGenius2{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

.fabulousContainer{
	background-image:url("../img/netscape.gif");
	background-color:#0000ff;
	padding:200px 0;
	margin:0;
	width:100%;
	min-height:500px;
	color:#ffff00;
}

/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}
