body{
	font-family: 'Roboto', sans-serif;
	color: #000;
}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}

#container h1 {
	text-align: center;
	color: #444;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             		0px 8px 13px rgba(0,0,0,0.1),
             		0px 18px 23px rgba(0,0,0,0.1);
}

#quoteContainer{
	width:75%;
	background: #fff;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:70px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton:hover{
	cursor:pointer;
	background:#09c;
	color: rbg(117,111,158);	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}


#container2{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}
#container2 h2{
	text-align:center;
	color:#0ab;
}

#quoteContainer2{
	width:75%;
	background: #fff;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:70px;
}
#buttonContainer2{
	width: 100%;
	text-align: center;
}
#quoteButton2{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton2:hover{
	cursor:pointer;
	background:#09c;
	color: rbg(117,111,158);	
}
#quoteButton2:active{
	cursor: pointer;
}
#quoteButton2{
	display: inline-block;
}
#quoteGenius2{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}
