@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* {
  box-sizing: border-box;
}
#h {
  font-family: 'Roboto';
}
/* header */
header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: rgba(0, 0, 0, 0.7);
}
header .content {
  position: relative;
  display: block;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 5px #000000;
}
header .content h1 {
  font-size: 7.3em;
  font-weight: normal;
}
header .content h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
.bg {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: url('https://raw.githubusercontent.com/rurane/rurane.github.io/master/img/mountainbg.png') center no-repeat;
  background-size: cover;
  /*-moz-transition: 0.1s;-o-transition: 0.1s;-webkit-transition: 0.1s;transition: 0.1s; */
  z-index: -1;
}
/* Spacer */
.layout {
  display: block;
  position: relative;
  background: #181818;
  height: 25px;
}
/* Navigation bar */
.tabs {
  color: #181818;
  font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
  font-size: 18px;
  ont-weight: bolder;
  text-align: center;
  text-decoration: none;
}
nav {
  display: block;
  position: relative;
  background-color: #252525;
  height: 70px;
}
nav li {
  display: inline-block;
  padding: 24px 10px;
}
nav li a {
  color: #757575;
  text-transform: uppercase;
}
.stabs {
  height: 100%;
}
/* Sliders */
.pen {
  max-width: 635px;
  width: 100%;
  margin: 50px auto 0;
  opacity: 0;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
}
.credit {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 150px auto 0;
  padding: 0;
  font-size: 0.8em;
  color: #f0f0f0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
.credit p a,
.credit a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.credit p a:hover,
.credit a:hover,
.credit p a:active,
.credit a:active {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  color: white;
}
.credit p a.button,
.credit a.button {
  padding: 6px 12px;
  margin-top: 10px;
  background: #000000;
  border-radius: 3px;
}
.credit p a.button:hover,
.credit a.button:hover {
  background: #2b2b2b;
}
.credit p:last-of-type {
  margin-bottom: 30px;
}
.stage {
  margin-top: -65px;
  max-width: 635px;
  width: 100%;
  height: 400px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.element {
  background: green;
  width: 202px;
  -webkit-transform-origin: 50% 50%;
  height: inherit;
  margin: 0 7px 0 0;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.element.active {
  width: 282px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.element.inactive {
  width: 162px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.4;
}
.element.junkrat {
  background: url('https://cdn.discordapp.com/attachments/318471204400922624/335425109043183616/image.jpg') 45% 0 no-repeat;
  background-size: cover;
}
.element.tracer {
  background: url('https://cdn.discordapp.com/attachments/318471204400922624/335425464908644352/image.jpg') 45% 0 no-repeat;
  background-size: cover;
}
.element.polygirl {
  background: url('https://github.com/rurane/rurane.github.io/blob/master/img/com.jpg?raw=true') 45% 0 no-repeat;
  background-size: cover;
}
.element:last-of-type {
  margin: 0;
}
@media all and (min-width: 900px) {
  .pen {
    max-width: 890px;
  }
  .element {
    width: 286px;
  }
  .element.inactive {
    width: 246px;
  }
  .element.active {
    width: 366px;
  }
  .stage {
    max-width: 890px;
    height: 600px;
  }
}
@media all and (max-width: 660px) {
  .pen {
    max-width: 335px;
  }
  .element {
    width: 101px;
  }
  .element.inactive {
    width: 61px;
  }
  .element.active {
    width: 181px;
  }
  .stage {
    max-width: 335px;
  }
}
@-webkit-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sliders {
  padding-top: 15px;
  /* background-color:rgba(225,225,225,1); */
  background-color: #3E3E3E;
  filter: blur;
}
/* Spacer */
.layout {
  display: block;
  position: relative;
  background: #fff;
  height: 15px;
}
.favC {
  position: relative;
  display: block;
  color: #FFFFFF;
  padding-top: 20%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 5px #000000;
}
.favC h3 {
  font-size: 4em;
  font-weight: lighter;
}
.bottomspace {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 40px auto 0;
  padding-bottom: 10px;
  font-size: 0.8em;
  color: #f0f0f0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
/* Spacer */
.layout2 {
  display: block;
  position: relative;
  padding-top: 35px;
  background: #fff;
  height: 25px;
}
/* About me */
.about {
  display: block;
  position: relative;
  background: #3E3E3E;
  height: 100%;
}
