@import url(https://fonts.googleapis.com/css?family=Montserrat);
body,html{width:100%;height:100%;padding:0;margin:0}
body{display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:space-around;background:url('https://www.lollaparis.com/wp-www-lollaparis-com/wp/wp-content/uploads/2016/12/lol2016-footer-paris.png');background-size:cover;background-position:center;font-family: 'Montserrat', sans-serif;}
span{font-size:5vw;color:#fff;margin:0 1vw;padding:2.1vw 2.1vw;display:inline-block;width:8vw;border-radius:10px;text-align:center;background:rgba(0,0,0,0.75);box-shadow:inset 0 -5px 0 rgba(0,0,0,0.5)}
span:after{font-size:1.5vw;display:block;margin:3px 0 -1px;opacity:.8}
span:nth-of-type(1):after{content:"days"}  span:nth-of-type(2):after{content:"hrs"}
span:nth-of-type(3):after{content:"min"}   span:nth-of-type(4):after{content:"sec"}
div{position:relative}
div:before{content:"LOLLAPALOOZA";position:absolute;margin-top:-7vw;text-align:center;width:100%;left:0;font-size:3.25vw;color:white;FONT-WEIGHT:BOLD}
div:after{content:"TIME UNTILL PARIS";position:absolute;text-align:center;width:100%;left:0;font-size:1.4vw;color:white;bottom:-4vw;}
h2{width:80vw;font-size:6vw;text-align:center}